.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E6E6FF;
}

.profile-picture-small {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.profile-picture-large {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
  bottom: 100px;
  left: 40px;
}

.search-bar {
  align-self: center;
  background-color: #E6E6FF;
  border-radius: 16px;
  padding: 8px 16px;
}

.search-input {
  border: none;
  background-color: #E6E6FF;
  outline: transparent;
}

.user-img {
  background-color: #E6E6FF;
  height: 80%;
  width: 80%;
}

.friends-section {
  display: flex;
  justify-content: space-evenly;
  background-color: #E6E6FF;

}

.posts {
  width: 320px;
  padding: 0;
  list-style-type: none;
}

.friends-list {
  width: 240px;
  height: 240px;
  background-color: white;
}

.post-owner-info {
  display: flex;
}

.profile-section {
  display: flex;
  justify-content: center;
}

.user {
  height: 320px;
  width: 480px;
  border: 2px solid blue;
}

.user-background-picture {
  height: 80%;
  background-color: #E6E6FF;
}

.user-info {
  height: 20%;
}