.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E6E6FF;
}

.profile-picture-small {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.profile-picture-large {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
  bottom: 100px;
  left: 40px;
}

.search-bar {
  display: flex;
  justify-content: center;
  background-color: #E6E6FF;
  border-radius: 16px;
  padding: 4px 16px;
  height: 16px;
}

.search-input {
  border: none;
  background-color: #E6E6FF;
  outline: transparent;
  height: 16px;
  margin-left: 8px;
  font-size: 16px;
}

.user-img {
  background-color: #E6E6FF;
  height: 80%;
  width: 80%;
}

.friends-section {
  display: flex;
  justify-content: space-evenly;
  background-color: #E6E6FF;
  padding: 16px 0px;
}

.posts {
  width: 45%;
  padding: 0;
  list-style-type: none;
  margin: 0px;
}

.friends {
  background-color: whitesmoke;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 8px;
}

.friends-list {
  padding: 0px;
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.post-owner-info {
  display: flex;
}

.profile-section {
  display: flex;
  justify-content: center;
}

.user {
  height: 320px;
  width: 80%;
}

.user-background-picture {
  height: 100%;
  background-color: #E6E6FF;
}

.user-info {
  height: 20%;
}

.new-post {
  margin: 16px 0px;
  display: flex;
  justify-content: center;
}

.post-item {
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 16px;
}

p {
  font-size: 24px;
  margin: 0px;
}

.likes-paragraph {
  font-size: 16px;
}

.comments-paragraph {
  font-size: 16px;
  cursor: pointer;
}

.likes-comments-number {
  display: flex;
  justify-content: space-between;
}

.post-buttons {
  display: flex;
  justify-content: space-between;
  margin: 8px 0px;
}

.post-btn {
  width: 49%;
  background-color: whitesmoke;
  border-top: 1px solid #E6E6FF;
  border-bottom: 1px solid #E6E6FF;
  border-radius: 8px;
  border-left: none;
  border-right: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.post-btn:hover {
  background-color: #E6E6FF;
  transition: 0.3s;
}

.add-comment {
  display: flex;
  align-items: center;
}

.write-comment {
  background-color: #E6E6FF;
  border: none;
  border-radius: 16px;
  padding-left: 8px;
  margin-left: 8px;
  height: 32px;
  width: 100%;
  font-size: 16px;
}

.post-date {
  font-size: 12px;
  color: gray;
}

.post-text {
  margin: 24px 0px;
}

.post-name-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
}

.friend-image {
  height: 100px;
  width: 123px;
  border-radius: 16px;
  align-self: center;
  justify-self: center;
}

.friend-name {
  font-size: 16px;
}

.friend {
  justify-self: center;
  align-self: center;
}

.comments-list {
  list-style: none;
}

.comment-item {
  display: flex;
  margin-top: 16px;
}

.comment-text {
  font-size: 16px;
  background-color: #E6E6FF;
  border-radius: 16px;
  padding: 8px 12px;
  width: 100%;
}

.comment-owner {
  font-size: 20px;
  margin-bottom: 8px;
  /* font-weight: 500; */
}

.comment-info {
  padding-left: 16px;
}

.comment-img {
  align-self: center;
}





/* 
- otvoren sam
- znam primit konstruktivnu kritiku
- iskren i direktan
- drustven i komunikativan
- marljiv
- discipliniran 
- ustrajan
- ostajem miran pod stresom
- kad sam gladan, nisam prijateljski nastrojen
- dizajnerske vjestine su mi lose
- 

1 ovethink
2 direktan i iskren
3 otvoren
4 rijesavanje tehnickih problema
5 disciplina
6 slabosti
7 ?
-  */